.list-subheading{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #667085;
}
.footer-list-container{
    list-style-type: none;
    color: #475467;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}
.rights-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
}
@media (min-width:1010px) {
    .footer-list-container{
        font-size: 20px;
    }
    .list-subheading{
        font-size: 18px;
    }
    .rights-desc{
        font-size: 20px;
    }
}