
.our-blog-span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #6941c6;
}
.our-blog-h1{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
}
.our-blog-p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color:#475467;
}
.each-blog-container{
    margin: 20px;
}
.each-image{
    width: 343px;
}
.check-out-button{
    padding: 6px 20px;
    border-radius: 8px;
    border: 1px solid #7F56D9;
    background-color: #7F56D9;
    color: #ffffff;
}
.each-blog-title{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #6941c6;
}
.each-blog-heading{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.each-blog-desc{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#475467;
}
.each-blog-profile-name{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #101828;
}
.each-blog-date{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#475467;
}

.each-blog-img{
    width: 40px;
    height: 40px;
    border-radius: 200px;
    border: 0.75px solid #101828
}
@media (min-width:1010px){
    .our-blog-h1{
        font-size: 36px;
    }
    .our-blog-p{
        font-size: 20px;
    }
    .each-blog-title{
        font-size: 16px;
    }
    .each-blog-heading{
        font-size: 28px;
    }
    .each-image{
        width: 250px;
    }
}